@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,300&family=Playfair+Display:ital@1&display=swap');
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'IBM Plex Serif', serif;
  font-family: 'Playfair Display', serif;
  color: #1A5F7A;

}
.navbar .container-fluid
.collapse ul li a{
	font-size: 1.5rem;
	color: #9A0680;

}
.sign .btn{
	background-color: #9A0680;
	color: #fff;
	font-size: 1.5rem;
	padding: 0 1rem;
	text-decoration: none;
	border-radius: 8px;
}
.sign .btn:hover{
background-color: #1A5F7A;
color:#fff;
}
.right1 .right2 .btn{
	background-color: #9A0680;
	color: #fff;
	font-size: 1.5rem;
	padding: 0 1rem;
	text-decoration: none;
	border-radius: 8px;
}
.right1 .right2 .btn:hover{
	background-color: #1A5F7A;
color:#fff;
}
.right1  .btn i{
	margin-left: 1rem;
	color: #fff;
}
.price{
	margin-left: 1.3rem;

}
.price h5{
	font-size: 1.5rem;
}
.menu{
	text-align: center;
	}
	
.one a{
	background-color: #9A0680;
	color: #fff;
	font-size: 1.5rem;
	padding: 0 1rem;
	text-decoration: none;
	border-radius: 8px;

	}
	.one a:hover{
		background-color: #1A5F7A;
		color:#fff ;
	}

.one{
	box-shadow: 8px 4px 2px 2px yellow;
	padding: 1rem;
	height: 80vh;
	}
	
.one h5{
	font-weight: bold;
}
.one a i{
	margin-left: 1rem;
	font-weight: bold;
	color: #fff;
}
.menu{
	margin-left: 10rem;
}
.select-p{
	box-shadow: 8px 4px 2px 2px yellowgreen;

}
.select h2{
	font-weight:bold;
	text-transform: uppercase;

}
.cone{
	margin-left: 3rem;
	
}