@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,300&family=Playfair+Display:ital@1&display=swap');
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'IBM Plex Serif', serif;
  font-family: 'Playfair Display', serif;
  color: #1A5F7A;

}
.navbar .container-fluid
.collapse ul li a{
	font-size: 1.5rem;
	color: #9A0680;

}
.sign .btn{
	background-color: #9A0680;
	color: #fff;
	font-size: 1.5rem;
	padding: 0 1rem;
	text-decoration: none;
	border-radius: 8px;
}
.sign .btn:hover{
background-color: #1A5F7A;
color:#fff;
}