@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,300&family=Playfair+Display:ital@1&display=swap');
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'IBM Plex Serif', serif;
  font-family: 'Playfair Display', serif;
  color: #1A5F7A;

}
.navbar .container-fluid
.collapse ul li a{
	font-size: 1.5rem;
	color: #9A0680;

}
.sign .btn{
	background-color: #9A0680;
	color: #fff;
	font-size: 1.5rem;
	padding: 0 1rem;
	text-decoration: none;
	border-radius: 8px;
}
.sign .btn:hover{
background-color: #1A5F7A;
color:#fff;
}
.right1 .right2 .btn{
	background-color: #9A0680;
	color: #fff;
	font-size: 1.5rem;
	padding: 0 1rem;
	text-decoration: none;
	border-radius: 8px;
}
.right1 .right2 .btn:hover{
	background-color: #1A5F7A;
color:#fff;
}
.right1  .btn i{
	margin-left: 1rem;
	color: #fff;
}
.price{
	margin-left: 1.3rem;

}
.price h5{
	font-size: 1.5rem;
}
.menu{
	text-align: center;
	}
	
.one a{
	background-color: #9A0680;
	color: #fff;
	font-size: 1.5rem;
	padding: 0 1rem;
	text-decoration: none;
	border-radius: 8px;

	}
	.one a:hover{
		background-color: #1A5F7A;
		color:#fff ;
	}

.one{
	box-shadow: 8px 4px 2px 2px yellow;
	padding: 1rem;
	height: 80vh;
	}
	
.one h5{
	font-weight: bold;
}
.one a i{
	margin-left: 1rem;
	font-weight: bold;
	color: #fff;
}
.menu{
	margin-left: 10rem;
}
.select-p{
	box-shadow: 8px 4px 2px 2px yellowgreen;

}
.select h2{
	font-weight:bold;
	text-transform: uppercase;

}
.cone{
	margin-left: 3rem;
	
}
.contact-us .contact-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.contact-us .contact-content .text{
	font-size: 1.2rem;
}
.contact-us .contact-content .left{
	text-align: justify;
}
.contact-us .contact-content .left .icons{
margin: 10px 0;	
}
.contact-us .contact-content .row{
	display: flex;
	height: 65px;
	align-items: center;

}
.contact-us .contact-content .row .info{
	margin-left: 30px;
	margin-top: -4rem;
}
.contact-us .contact-content .row i{
	font-size: 1.3rem;
	color: #9A0680;
}
.contact-us .contact-content .info .head{
	font-weight: 500;
}
.contact-us .right form .fields{
	display: flex;
}
.contact-us .right form .fields,
.contact-us .right form .fields .field{
	height: 45px; 
	width: 100%;
}